<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>this page loads</h1>
    <% console.log('testing if this breaks') %>
    lat is <%= lat %>
  </body>
</html>
